/* Fonts */
@font-face{
  font-family: SpaceMono;
  src: url('fonts/space-mono/SpaceMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: SpaceMono;
  scr: url('fonts/space-mono/SpaceMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: SpaceMono;
  src: url('fonts/space-mono/SpaceMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: Marble;
  src: url('fonts/marble/Marble-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

