*{
  margin: 0px;
  padding: 0px;
}


/* Elements */
body{
  background: #171717;
  color: white;
  font-family: SpaceMono;
  font-weight: 400;

  main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}

#hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background: rgba(222, 222, 222, .3); */
}

#greeting{
    font-family: SpaceMono;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1.5rem, 4vw, 5rem);
    text-align: center;
    margin: 0rem 2rem 0rem;
}

